*,
*::after,
*::before {
  padding: 0;
  box-sizing: border-box;
}
.about-section {
	background: url("https://outstyle.org/images/article/4/8/0/Wu-Tang_ALP_94111-SHUTTERSTOCK-IMAGE_20181109164257__11b5d3e4-1920x733.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 400px;
	position: relative;
	&-text {
		position: absolute;
		left: 30%;
		top: 80%;
		color: #fff;
		background-color: rgba(193, 47, 44, 0.85);
		padding: 10px 5px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 18px;
	}
	&-subtitle {
		color: #000;
		padding: 10px 5px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 26px;
		.red-text {
			color: #fff;
			background-color: rgba(193, 47, 44, 0.85);
			padding: 5px 10px;
		}
	}
}
