body {
  overflow: hidden;
  background-color: lightblue;
}
.login {
  padding: 0;
  width: 350px;
  display: flex;
  margin-right: 0;
  margin-top: 30px;
  border-radius: 5px;
  flex-direction: column;
}
.button__wrapper {
  left: 35%;
  top: 500px;
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .first-page__button {
    color: #fff;
    border: none;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 15px;
  }
  .button {
    padding: 15px 25px;
    margin-right: 80px;
  }
}
.second-page-modal {
  color: #fff;
  border: none;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 15px;
}
.shadow {
  border-radius: 5px;
}
.first-modal-wrapper {
  left: 15%;
  z-index: 10;
  position: absolute;
}
.modal-bg-wrapper {
  z-index: -5;
  width: 10000%;
  right: -1000%;
  display: flex;
  height: 1000vh;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.second-modal-wrapper {
  height: 0;
  right: 35%;
  z-index: 10;
  position: absolute;
}
.first-modal-wrapper {
  .modal__header-text {
    background-color: rgb(34, 136, 65);
  }
  .modal__main-text {
    background-color: rgb(38, 163, 38);
  }
  .header-login__btn {
    background-color: rgba(0, 100, 0, 0.795);
  }
}
.modal-inner {
  color: white;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 32px 9px rgba(0, 0, 0, 0.42);
}
.modals {
  .modal__header-text{
    background-color: #d42c31;
  }
  .modal__main-text {
    background-color: #eb2b31;
  }
  .header-login__btn {
    margin: 5px;
    color: #fff;
    border: none;
    font-size: 12px;
    border-radius: 5px;
    padding: 8px 20px;
    background-color: rgb(175, 31, 31);
  }
}
.modal {
  &__header-text {
    margin: 0;
    color: #fff;
    height: 20px;
    padding: 15px;
    font-size: 14px;
    text-align: center;
    font-family: sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  &__main-text {
    margin: 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    padding: 30px 8px 15px 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
.header-login__btn-wrapper {
  margin-top: 25px;
}
.header-login__btn {
  margin: 5px;
  color: #fff;
  border: none;
  font-size: 12px;
  border-radius: 5px;
  padding: 8px 20px;
  background-color: rgb(175, 31, 31);
}
.close__modal-wrapper {
  position: relative;
  bottom: 35px;
  right: 10px;
  .close__first-modal-stick {
    width: 3px;
    float: right;
    margin-left: 15px;
    transform: rotate(45deg);
  }
  .close__second-modal-stick {
    width: 3px;
    float: right;
    margin-right: -18px;
    transform: rotate(-45deg);
  }
}
.close {
  width: 1px;
  height: 25px;
  background-color: #fff;
}
