*,
*::after,
*::before {
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1028px;
  margin-left: auto;
  margin-right: auto;
}
.active {
	font-weight: bold;
	font-size: 20px;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__list {
		display: flex;
		min-width: 385px;
		justify-content: space-between;
		margin-right: 30px;
	}
	&__list-item {
	  list-style: none;
	}
	&__list-link {
		text-decoration: none;
		font-weight: bold;
		color: #000;
		font-size: 16px;
	}
	&__list-link:hover {
		color: #90a0a7;
		transition: 0.5s;
	}
}
.img-wrapper img {
  height: 85px;
}
