.star {
  background: url("https://img.icons8.com/ios/452/star--v1.png") no-repeat center;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
  &__active {
    background: url("https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png") no-repeat center;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
  }
}
svg {
  fill: #c4c4c4;
}
.btn {
  display: inline-block;
  height: auto;
  border: 0;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.list-wrapper {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}
