.menu {
  @extend %list-none;

  @include transform(translateX(30px));
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  //@include grid(3, 10px, 60px);
  background-color: #c0c0c0;

  &__item {
    display: flex;
    border-bottom: 2px solid red;
  }
  &__link {
    font-size: 18px;
    font-weight: 700;
    color: #00CBF6;
  }
}