* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container {
    width: 1028px;
    margin-left: auto;
    margin-right: auto;
}
.page-header {
    background: url("../img/background 1.png") no-repeat center;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
}
.header-zone {
    padding-top: 45px;
}
.header-company-logo {
    width: 53px;
    height: 47px;
}
.header-company {
    float: left;
}
.header-company:hover .header-company-logo {
    content: url("../img/logo 2.png");
}
.header-company:hover .header-company-name {
    color: #F26522;
    font-weight: 300;
}
.header-phone:hover,
.header-email:hover  {
    color: #F26522;
}
.header-company-name {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.header-company-text-bigger {
    font-size: 28px;
    text-transform: uppercase;
    display: block;
}
.header-email {
    color: #fff;
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.header-phone {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.header-contacts {
    float: right;
    text-align: right;
}
.section-tour {
    margin-top: 35px;
}
.tour-item {
    text-decoration: none;
    float: left;
    width: calc(100% / 3 - 40px);
    margin-right: 60px;
    margin-bottom: 42px;
}
.tour-name {
    color: white;
    text-align: center;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.tour-item:hover .tour-name {
    color: #F26522;
}
.tour-item:nth-child(3n) {
    margin-right: 0;
}
.shopping-bg {
    background: url("../img/Layer 21 (1).png") no-repeat center;
    background-size: cover;
}
.sightseeing-bg {
    background: url("../img/Layer 22.png") no-repeat center;
    background-size: cover;
}
.food-bg {
    background: url("../img/Layer 23.png") no-repeat center;
    background-size: cover;
}
.bars-bg {
    background: url("../img/Layer 24.png") no-repeat center;
    background-size: cover;
}
.art-bg {
    background: url("../img/Layer 26.png") no-repeat center;
    background-size: cover;
}
.walking-bg {
    background: url("../img/Layer 25.png") no-repeat center;
    background-size: cover;
}
.tour-item-description {
    padding-top: 165px;
}
.tour-detail {
    color: #fff;
    box-sizing: border-box;
    background-color: #F26522;
    padding: 10px;
    opacity: 0;
}
.detail-price {
    float: left;
    margin-left: 15px;
}
.detail-price::before {
    content: "from";
    font-size: 10px;
    display: block;
}
.detail-link {
    float: right;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 8px;
}
.detail-link:after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 1px solid transparent;
    border-top-color: #fff;
    border-right-color: #fff;
    transform: rotate(45deg);
    margin-left: 15px;
    margin-right: 15px;
    color: #F26522;
}
.tour-item:hover .tour-detail {
    opacity: 1;
}
.footer-copyright {
    padding: 30px 0 10px 0;
}
.copyright {
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
/*.li-wrapper::after {*/
/*    content: '';*/
/*    left: 205px;*/
/*    bottom: -398px;*/
/*    border: 10px solid transparent;*/
/*    border-top: 10px solid #18CFAB;*/
/*    position: absolute;*/
/*}*/