.footer {
  background-color: #000;
  @include flex();
}
.footer__title {
  @include text-repeating-prop();
  color: #fff;
  text-transform: uppercase;
  font-family: $main-font;
  margin: 40px 0 10px 0;
}
.footer__description {
  font-size: 12px;
  font-family: $main-font;
  font-weight: normal;
  color: #B9B9B9;
  text-align: center;
  line-height: 1.5;
}
.footer__social-network {
  display: flex;
}
.icon-inner {
  @include instagram-icon-inner();
}
.wifi {
  border: 2px solid #F8902E;
}  .facebook {
  border: 2px solid #39599F;
}  .twitter {
  border: 2px solid #45B0E3;
}  .dribbble {
  border: 2px solid #D97AB0;
}  .pinterest {
  border: 2px solid #CC212C;
}
.footer__contact {
  @include text-repeating-prop();
  font-weight: normal;
  color: #B9B9B9;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .footer__contact {
    max-width: 215px;
  }
}

