*, *::after, *::before {
  margin: 0;
  box-sizing: border-box;
}
.container {
  @include container()
}
.header-img-wrapper {
  text-align: center;
  margin-top: 35px;
}
.header__burger {
  display: none;
}
.header__menu {
  display: none;
}
.header__list {
  display: none;
  list-style: none;
}

@media (min-width: 767px) {
    .header__menu {
      display: flex;
      justify-content: center;
      margin-top: 35px;
    }
    .header__list {
      display: flex;
      list-style: none;
      padding: 0;
    }
    .header__item {
      margin-left: 20px;
      margin-right: 20px;
    }
    .header__link {
      color: #4E4E4E;
      text-transform: uppercase;
      text-decoration: none;
      font-family: $main-font;
      font-weight: normal;
      font-size: 11px;
      &:hover {
        color: #57A4A4;
      }
    }
    .dropdown {
      display: none;
    }
}
.dropdown-menu { 
   display: none
}
.header__content-wrapper {
  display: inline-block;
  @media screen and (min-width: 1200px) {
    padding: 0 71px 0 71px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .dropdown-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 200px;
    top: 72px;
  }
  .dropdown__link {
    color: #4E4E4E;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
    font-family: $main-font;
    margin-left: 10px;
    &:hover {
      color: #57A4A4;
      background-color: #E5E5E5;
    }
  }
  .dropdown__item {
    list-style: none;
    min-width: 173px;
    &:hover {
      background-color: #E5E5E5;
      width: 100%;
    }
  }
  .dropdown__list {
    position: absolute;
    z-index: 222;
    background-color: #F5F5F5;
    text-align: left;
    line-height: 1.7;
    padding: 0 ;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
  }
  .header__burger {
    span {
      position: absolute;
      background-color: #fff;
      left: 12px;
      top: 17px;
      width: 71%;
      height: 2px;
      transition: all 0.3s ease 0s;
    }
  }
  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 71%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 12px;
    left: 12px;
  }
  .header__burger::after {
    bottom: 6px;
    left: 12px;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 17px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 11px;
  }
  .header__burger.active span {
    display: none;
  }
}
.header-photo {
  max-width:100%;
  height:auto;
}
.dropdown {
  width: 44px;
  height: 37px;
  background-color: #000;
  float: right;
  margin-bottom: 20px;
  margin-top: 20px;
}