.container {
  @include container();
}
.instagram-section__title {
  @include text-repeating-prop();
  text-transform: uppercase;
  font-family: $main-font;
  margin: 45px 0 15px 0;
  display: inline-table;
}
.link-wrapper {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  max-width: 760px;
  @media screen and (min-width: 1200px) {
    max-width: 1016px;
  }
}
.instagram-img {
  max-width:100%;
  height: auto;
  margin-bottom: 30px;
}
.instagram-hid-img-wrap {
  display: none;
}
.instagram-hid-link {
  display: none;
}
@media screen and (min-width: 768px){
  .instagram-section {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    padding-bottom: 40px;
    margin-top: 70px;
  }
  .instagram-hid-img-wrap {
    display: flex;
    width: 250px;
    height: 250px;
  }
  .hid-img {
    margin-left: 5px;
  }
  .instagram-img {
    display: none;
  }
  .instagram-hid-link {
    @include text-repeating-prop();
    display: block;
    text-transform: uppercase;
    font-family: $main-font;
    text-decoration: none;
    font-size: 13px;
    margin: 49px 0 6px;
  }
}

.hid-img {
  min-width: 100%;
  height:auto;
}
.inst-bigger-photo {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.instagram__picture-wrapper {
  @media screen and (min-width: 1200px) {
    min-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}
