@mixin container {
  max-width: 100%;
  padding: 0 27px 0 27px;
  margin-left: auto;
  margin-right: auto;
}
@mixin text-repeating-prop {
  font-size: 14px;
  color: #4E4E4E;
  font-weight: bold
}
@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@mixin instagram-icon-inner {
  border-radius: 50%;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 3px 20px 3px;
}