.recent-post-section {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1359px;
}
.recent-post__content-wrapper {
  @media screen and (min-width: 1200px) {
    min-width: 1290px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 169px;
  }
}
.recent-post__content-hid {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.adaptive-foto {
  max-width:100%;
}
.img-hid-content {
  display: none;
}
.recent-post__content,
.recent-post__content-hid {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 25px;

    width: 518px;
    height: 140px;
    max-height: 156px;
    .img-title,
    .img-description{
      margin-left: 15px;
    }

    .img-hid-content {
      display: inline-block;
      margin-left: 15px;
      line-height: 1.5;
      font-size: 14px;
    }
    .img-description {
      margin: 8px 0 8px 15px;
    }
  }
}
.recent-post__title {
  @include text-repeating-prop();
  margin: 30px 0 20px 0;
  font-family: $main-font;
  text-transform: uppercase;
    @media (min-width: 1200px) {
      margin: 30px 0 20px 71px;
  }
}
.img-title {
  @include text-repeating-prop();
  font-family: $main-font;
}
.img-description {
  margin: 8px 0 25px 0;
  font-family: $main-font;
  font-weight: normal;
  font-size: 11px;
  color: #7C7C7C
}