*,
*::after,
*::before {
    box-sizing: border-box;

    padding: 0;
}
body {
    margin: 0;
}
.container {
    width: 1028px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.page-bg {
    background: url("img/background.png") no-repeat center;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;

}
.page-header-sprite-wrapper {
    float: right;
    display: inline-block;
}
.page-header {
    background: rgba(0, 0, 0, 0.4);
}
.header-login-wrapper {
    float: right;
}
.header-logo {
    float: left;
    color: #fff;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}
.header-logo:hover {
    color: #3CB878;
}
.sprite {
    background-image: url("img/spritesheet.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 10px;
}
.sprite-ic_forum {
    width: 28px;
    height: 20px;
    background-position: -5px -5px;
}
.sprite-ic_forum:hover {
    background: url("img/hover-forum.png") no-repeat center;
}
.sprite-ic_journey-_2_ {
    width: 20px;
    height: 20px;
    background-position: -43px -5px;
}
.sprite-ic_journey-_2_:hover {
    background: url("img/hover-journey.png") no-repeat center;
}
.sprite-ic_journey-_1_ {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: -5px -35px;
}
.sprite-ic_journey-_1_:hover {
    background: url("img/hover-journey.png") no-repeat center;
}
.page-header-sprite {
    display: inline-block;
}
.header-info {
    color: #fff;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    margin: 0;
}
.header-info::before {
    content: "";
    background-color: transparent;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    height: 10px;
    margin: 0 10px 0 10px;
}
.header-info-link {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.header-info-link:hover {
    color: #3CB878;
}
.section-page {
    width: 400px;
    background-color: #fff;
    border-radius: 4px;
    transform: translateY(calc((100vh - 627px) /2));
    margin-left: auto;
    margin-right: auto;
}
.section-wrapper {
    padding: 27px 51px 37px 51px;
}
.section-sign-up-link {
    float: left;
    color: #434343;
    text-decoration: none;
    margin: 0 0 10px 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    position: relative;
}
.section-sign-up-link:before {
    content: '';
    background-color:  #3CB878;
    padding: 8px 8px 8px 8px;
    margin-right: 20px;
    position: absolute;
    z-index: 10;
    right: 83px;
    bottom: 2px;
}
.section-log-in-link {
    float: right;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin: 0 0 10px 0;
    color: #3CB878;
}
.facebook {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 11px 12px 11px 68px;
    background-color: #305DB8;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: inline-block;
}
.facebook-logo {
    position: absolute;
    z-index: 4;
    right: 118px;
    bottom: 10px;
}
.facebook-wrapper {
    float: left;
    display: inline-block;
}
.google-wrapper {
    float: right;
    display: inline-block;
}
.facebook-wrapper::after {
    content: "";
    padding: 6px 0 3px 0;
    background-color: transparent;
    border-right: 1px solid #0A162F;
    opacity: 0.1;
    z-index: 6;
    position: relative;
    right: 100px;
    bottom: -2px;
}
.google-wrapper::after {
    content: "";
    padding: 6px 0 4px 0;
    background-color: transparent;
    border-left: 1px solid  #0A162F;
    opacity: 0.1;
    position: relative;
    right: 88px;
    bottom: -1px;
}
.google {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 300;
    padding: 11px 20px 11px 72px;
    background-color: #DF4A32;
    margin-left: 3px;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: inline-block;
}
.google-logo {
    position: absolute;
    z-index: 4;
    right: 102px;
    bottom: 11px;
}
.section-paragraph {
    color:  #848484;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    margin-top: 27px;
}
.section-paragraph::before {
    content: "";
    height: 1px;
    padding-left: 128px;
    background-color: #e3e3e3;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;

}
.section-paragraph::after {
    content: "";
    height: 1px;
    vertical-align: middle;
    padding-right: 128px;
    background-color: #e3e3e3;
    display: inline-block;
    margin-left: 10px;
}
.section-app-link-wrapper {
    display: inline-block;
    margin-top: 20px;
}
.form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    outline: 0;
}
.form-input:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border: none;
}
.form-label {
    display: block;
    margin-bottom: 10px;
}
.submit-button {
    display: inline-block;
}
.form-label-checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    display: inline-block;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 6px;
}
.form-input-checkbox {
    float: left;
    display: none;
}
.form-input-checkbox:checked + .form-label-checkbox {
    background-image: url("img/Vector 1.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.form-text-bigger {
    display: block;
    width: 290px;
    margin-left: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #434343;
}
.checkbox {
    color: #3CB878;
}
.section-create-link {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding: 11px 94px 11px 94px;
    background-color: #3CB878;
    text-decoration: none;
    border-radius: 3px;
    border: none;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
