footer {
    background-color: rgba(0, 0, 0, 0.89);
    height: 260px;
    width: 100%;
    margin-top: 20px;
    padding: 0;
}
.little-about-us {
    color: #fbf6fb;
    font-size: 12px;
    text-align: left;
    display: inline-block;
    &__text {
        text-align: left;
        font-size: 14px;
        width: 300px;
    }
}
.our-contact {
    text-align: right;
    display: inline-block;
    padding-bottom: 65px;
    color: #fbf6fb;
    margin-left: 400px;
    &-title {
        display: inline-block;
        float: right;
    }
}
