@import "variables";
.emails {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  &-sidebar {
    max-width: 200px;
    width: 100%;
    margin-right: 15px;

    &__list {
      border-radius: 5px;
      list-style: none;
    }

    &__item {
      cursor: pointer;
      font-size: 18px;
      color: $text-color;
      padding: 15px 25px;
      transition: color 0.3s;
      box-shadow: 0 0 0 1px $text-color;

      &:hover {
        color: $primary;
      }

      &--active {
        font-weight: bold;
      }
    }
  }

  &-list {
    &__item {
      display: flex;
      flex-direction: column;
      background-color: #eee;
      padding: 20px 40px 20px 20px;
      margin-bottom: 10px;
    }

    &__subject {
      cursor: pointer;
      font-size: 28px;
      letter-spacing: 10px;
      text-transform: uppercase;
      margin: 10px 0;
    }

    &__link-from {
      align-self: flex-start;
      font-size: 18px;
      color: $text-color;
      transition: color 0.3s;

      &:hover {
        color: $primary;
      }

      &::before {
        content: 'from: ';
      }
    }
    
    &__text {
      color: $text-color;
    }
  }
}