.singleCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.67)
}
.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}
.singleCard img {
    height: 250px;
    border-radius: 5px;
}
.singleCard span {
    color: #650072;
    font-size: 30px;
    display: inline-block;
    float: right;
}
.singleCard span:hover {
    color: #650072;
    font-size: 30px;
    display: inline-block;
    float: right;
    cursor: pointer;
}
.card-name {
    color: #27292b;
    font-weight: bold;
    font-size: 16px;
    display: block;
    text-align: left;
    margin-left: 15px;
}
.card-price {
    color: #f3fdff;
    font-weight: bold;
    font-size: 19px;
    display: inline-block;
    text-align: left;
    margin-right: 65px;
    background-color: red;
    padding: 0 3px;
}
.card-add-to-btn {
    color: #fff;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
    text-align: right;
    display: inline-block;
}
.close__modal-wrapper {
    position: relative;
    bottom: 5px;
    font-weight: bold;
    color: #f0f1ff;
    background-color: #6b826a;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}
.stars {
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.star polygon:hover {
    fill: #ffd055
}
.star polygon{
    fill: #d8d8d8;
}
