body
{
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 700;
    color: #ff6;
    background-color: #000;
}
.content-wrapper {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(400px) rotateX(26deg)
}
.title-content {
    position: absolute;
    top: 100%;
    animation: scroll 30s linear 4s infinite;
 }
@keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}
.text-bigger {
    font-size: 130px;
}