.cross__modal-wrapper {
  position: relative;
  bottom: 265px;
  right: 14px;
  .close__first-modal-stick {
	width: 3px;
	float: right;
	margin-left: 15px;
	transform: rotate(45deg);
  }
  .close__second-modal-stick {
	width: 3px;
	float: right;
	margin-right: -18px;
	transform: rotate(-45deg);
  }
}

.close {
  height: 25px;
  background-color: #f4000b;
}
