.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-item {
	margin-bottom: 5px;
	width: 250px;
  }
}
.error {
  background-color: red;
}
.form-wrapper {
  position: absolute;
}
.form-wrapper {
  display: flex;
  justify-items: center;
  align-items: center;

  margin-left: 45%;
  top: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;

  &-inner {
	width: 100%;
  }
  .form-bg-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	z-index: -5;
	left: 0;
	right: 0;

	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
  }
}
.error-message {
  color: red;
  font-weight: bold;
  font-size: 16px;
}
.checkout-button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #7d9bb7;
  border-radius: 22px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  text-decoration: none;
  border: 5px solid #cdd2d7
}
.form-item {
  border: 3px solid #7d9bb7;
  height: 28px;
  border-radius: 20px;
  width: 280px;
  padding-left: 8px;
}
