*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
}
.purchases * {
    border-right: 1px solid #d1d3d5;
}
.purchases {
    border: 23px solid #3A4965;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    width: 1192px;
    height: 736px;
}
.table-row:nth-child(even) {background: #E3E3E3;}
.table-row:nth-child(odd) {background: #F2F2F2;}
.common-item {
    color: #fff;
    font-size: 10px;
}
.purchases-header {
    background-color: #FAFAFA;
}
.price-name-wrapper {
    float: right;
    border: none;
}
.text-name {
    display: block;
    border: none;
    font-size: 16px;
    color: #484848;
    font-family: 'Arimo', sans-serif;
    font-weight: normal;
    margin: 0 70px 10px 0;
}
.table-pricing-item {
    color: #000;
    padding-top: 25px;
}
.table-text-bigger {
    font-size: 28px;
    border: none;
    display: block;
    font-family: 'Arimo', sans-serif;
    color: #484848;
}
.common-content-wrapper {
    vertical-align: bottom;
}
.table-pricing-item {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}
.common-item {
    width: 180px;
    background-color: #FAFAFA;
    color: #000;
    height: 78px;
}
.table-cell {
    height: 42px;
    color: gray;
    font-size: 16px;
    font-weight: normal;
}
.table-cell-button {
    height: 70px;
}
.table-standard-item {
    background-color: #89C331;
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    height: 75px;
    border: none;
}
.table-ultimate-item {
    background-color: #F04A56;
    color: #fff;
    font-size: 27px;
    font-weight: 700;
    border: none;
}
.table-premium-item {
    background-color: #20807C;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    border: none;
}
.purchases-price {
    font-size: 50px;
    border: none;
    margin-left: 30px;
}
.purchases-prise {
    display: inline-block;
    border: none;
    font-size: 20px;
    color: #484848;
    margin: 0 138px 0 0;
}

.table-button {
    text-decoration : none;
    color: #fff;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    border: none;
    padding: 15px 52px;
    background-color: red;
    border-radius: 4px;
    text-transform: uppercase;
}
.color-black:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.color-green:hover {
    box-shadow: 0 0 10px rgba(58, 255, 0, 0.5);
}
.color-red:hover {
    box-shadow: 0 0 10px rgba(255, 0, 3, 0.7);
}
.color-aquamarin:hover {
    box-shadow: 0 0 10px rgba(1, 255, 223, 0.5);
}
.color-black {
    background-color: #484848;
    padding-top: 9px;
    border-bottom: 9px solid #404040;
}
.color-green {
    background-color: #89C331;
    padding-top: 9px;
    border-bottom: 9px solid #79B027;
}
.color-red {
    background-color: #F04A56;
    padding-top: 9px;
    border-bottom: 9px solid #DF3A46;
}
.color-aquamarin {
    background-color: #20807C;
    padding-top: 9px;
    border-bottom: 9px solid #16736F;
}
.fas {
    margin-right: 5px;
}
.fa-archive {
    color: #848484;
    font-size: 24px;
    border: none;
}
.fa-cloud-upload-alt {
    color: #848484;
    font-size: 24px;
    border: none;
}
.fa-life-ring {
    color: #848484;
    font-size: 24px;
    border: none;
}
.fa-envelope {
    color: #848484;
    font-size: 24px;
    border: none;
}
.fa-cube {
    color: #848484;
    font-size: 24px;
    border: none;
}
.fa-users {
    color: #848484;
    font-size: 24px;
    border: none;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}