* {
    padding: 0;
    margin: 0;
}

.container {
   width: 1280px;
   margin: 0 auto;
   font-family: 'Roboto', sans-serif;
}

.header-title {
    color: #000;
    text-decoration: none;
    font-size: 50px;
    font-weight: normal;
    margin: 0;
}

.page-head {
    margin-top: 30px;
}

.color-part {
    color: deepskyblue;
}

/*Header-Top*/

.header-nav {
    text-align: center;
    list-style-type: none;
    background-color: #35444F;
    margin-top: 30px;
}

.header-nav-link {
    padding: 14px 46px;
    font-size: 17px;
    display: inline-block;
    color: #fff;
    font-weight: 200;
    text-decoration: none;
    border: 1px solid #000;
}

.main-content {
    margin-top: 40px;
}

/*Header-left*/

.nav-left-menu {
    width: 302px;
    vertical-align: top;
    margin-right: 17px;
    border: 1px solid #000;
    display: inline-block;
    list-style-type: none;
}

.nav-menu-link {
    text-decoration: none;
    font-weight: normal;
    font-size: 21px;
    color: #485863;
}

.nav-menu-item {
    padding: 20px 0 20px 35px;
}

.main-text {
    display: inline-block;
    width: calc(100% - 322px - 24px);
    margin-left: 20px;
    vertical-align: top;
}

/*Photo*/

.main-img-wrapper {
    border: 1px solid #000;
    padding: 110px 315px 98px 303px;
}

.main-img {
    width: 100%;
}

.article-text {
    font-size: 15px;
    line-height: 1.5;
    margin: 30px 0;
}

/*Bottom-Nav*/

.page-bottom {
    padding: 15px 25px;
    background: rgba(99, 105, 110, 0.48);
}

.nav-bottom {
    display: inline-block;
}

.nav-bottom-link {
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
    font-size: 18px;
}

.copyright {
    margin-left: 478px;
}