*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-font: 'Montserrat', sans-serif;
}
/* <HEADER> */
.container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
.header-content {
    display: flex;
    justify-content: space-between;

}
.bg-page {
    background: url("../img/background-img.png") no-repeat center fixed;
    background-size: cover;
}
.header {
    background: rgba(94, 93, 88, 0.6);
    position: relative;
}
.logo-text-wrapper {
    display: inline-block;
    vertical-align: top;
    margin-top: 28px;
}
.polygon {
    clip-path: polygon(50% 0%, 50% 0%, 100% 25%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);;
    background-color: #18CFAB;
}
.logo-letter {
    color: #fff;
    padding: 7px 13px 7px 13px;
    text-align: center;
    font-size: 44px;
}
.img-logo-wrapper {
    display: inline-block;
    margin: 19px 0 19px 0;
}
.my-logo {
    width: 48px;
    height: 57px;
    margin: 15px 0 15px 0;
}
.logo-text {
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 30px;
}
.logo-text-big {
    font-family: var(--main-font);
    font-weight: 700;
    color: #18CFAB;
    font-size: 32px;
}
.header-list-item {
    display: inline-block;
}
.header-list-item-last {
    display: inline-block;
}
.header-list-item-search {
    display: inline-block;
}
.header-list-item + .header-list-item {
    margin-left: 22px;
    margin-top: 41px;
}
.header-list-item:hover::after {
    content: '';
    display: block;
    height: 1.5px;
    width: 55px;
    position: absolute;
    bottom: 0;
    background-color: #18CFAB;
}
.header-list-item-last:hover::after {
    content: '';
    display: block;
    height: 1.5px;
    width: 125px;
    position: absolute;
    bottom: 0;
    background-color: #18CFAB;
}
.header-item-link {
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 700;
}
.header-item-link:hover {
    color: #18CFAB;
}
.header-search-img {
    width: 16px;
    height: 15px;
    margin-left: 20px;
}
.creative-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5;
}
.creative-wordpress-text {
    text-transform: uppercase;
    font-size: 35px;
    font-family: var(--main-font);
    font-weight: 700;
    color: #fff;
    margin-top: 266px;
}
.creative-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 78px;
    font-family: var(--main-font);
    font-weight: 700;
}
.creative-subtitle {
    font-size: 32px;
    color: rgba(249, 251, 255, 0.98);
    font-family: var(--main-font);
    font-weight: 200;
}
.green-text {
    color: #18CFAB;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 35px;
}
.btn {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family: var(--main-font);
    font-weight: 600;
    padding: 20px 15px;
    border-top: 4px solid #fff;
}
.creative-explore-button {
    background-color: #18CFAB;
    margin: 0 10px 0 0;
    border-radius: 5px;
}
.creative-purchase-button {
    background-color: #00CBF6;
    margin: 0  0 0 10px;
    border-radius: 5px;
}
.button-wrapper {
    display: inline-block;
    padding: 90px 0 243px 0;
}
/* </HEADER> */

/* <ADVANTAGES> */
.finger {
    width: 50px;
    height: 90px;
    margin-top: 104px;
}
.diamond {
    width: 82px;
    height: 65px;
    margin-top: 122px;
}
.bulb {
    width: 49px;
    height: 86px;
    margin-top: 108px;
}
.gadget {
    width: 83px;
    height: 66px;
    margin-top: 116px;
}
.finger-text, .bulb-text {
    text-transform: uppercase;
    font-family: var(--main-font);
    font-weight: 600;
    margin-top: 40px;
    font-size: 20px;
}
.diamond-text, .gadget-text {
    text-transform: uppercase;
    font-family: var(--main-font);
    font-weight: 600;
    margin-top: 49px;
    font-size: 20px;
}
.advantages-subtitle {
    margin-bottom: 90px;
}
/*.advantages-img {*/
/*    margin-top: 106px;*/
/*}*/
.advantages {
    display: flex;
}
.advantages-item {
    border-top: 5px solid #fff;
    width: 25%;
    background-color: #18CFAB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.advantages-item:nth-child(odd) {
    background-color:  #1C2A33;
    color: #18CFAB;
}
.advantages-item:nth-child(even) {
    background-color: #18CFAB;
    color: #fff;
}
/* </ADVANTAGES> */

/* <OUR SERVICES> */
.service-title {
    text-align: center;
    font-family: var(--main-font);
    font-weight: 400;
    color: #4E4E4E;
    font-size: 36px;
    margin: 50px 0 0 0;
}
.service-title::after {
    content: '';
    box-shadow: 8px 3px #18CFAB;
    display: block;
    height: 1px;
    width: 55px;
    margin: 10px 0 0 550px;
    background-color: #18CFAB;
}
.our-services {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-tabs {
    margin: 35px 0 18px 0;
    display: flex;
}
.tabs-title {
    padding: 25px 43px;
    background-color:  #F8FCFE;
    list-style: none;
    border: 1px solid #EDEFEF;
    cursor: pointer;
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: 300;
    color: #717171;
    position: relative;
}
.tabs-title:hover {
    border: 1px solid #18CFAB;
}
.hidden-arch {
    display: none;
}
.tabs-title.active {
    background-color: #18CFAB;
    color: #fff;
}
.work-tabs.all-tab {
    border: 2px solid #18CFAB;
    color: #18CFAB;
}
.tab {
    display: none;
}
.tab.active {
    color: #777777;
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 13px;
    line-height: 1.7;
    display: flex;
}
.web-photo {
    width: 193px;
    height: 130px;
    margin-right: 10px;
}
.graphic-photo {
    width: 193px;
    height: 130px;
    margin-right: 10px;
}
.support-photo {
    width: 193px;
    height: 130px;
    margin-right: 10px;
}
.app-photo {
    width: 193px;
    height: 130px;
    margin-right: 10px;
}
.marketing-photo {
    width: 193px;
    height: 130px;
    margin-right: 10px;
}
.seo-photo {
    width: 193px;
    height: 130px;
    margin-right: 10px;
}
.install-now-bg {
    background: url("../img/section-2.jpg") no-repeat center;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
.absolute {
    position: sticky;
}
.install-now-bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
.install-title {
    color: #18CFAB;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-top: 88px;
}
.install-subtitle {
    color: #D8D8D8;
    font-family: var(--main-font);
    font-size: 12px;
}
.install-bg-btn {
    background-color: #18CFAB;
    margin-top: 60px;
    margin-left: 0;
    margin-bottom: 103px;
}
/* </OUR SERVICES> */

/* <OUR AMAZING WORK> */
.our-amazing-work {
    background-color: #E9EDEF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.amazing-work-title {
    text-align: center;
    margin: 66px 0 0 0;
    font-family: var(--main-font);
    font-weight: 400;
    color: #4E4E4E;
    font-size: 36px;
}
.amazing-work-title::after {
    content: '';
    display: block;
    height: 1px;
    width: 55px;
    box-shadow: 8px 3px #18CFAB;
    margin: 10px 0 0 550px;
    background-color: #18CFAB;
}
.amazing-work-tabs {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}
.work-tabs {
    padding: 19px 24px;
    background-color:  #E9EDEF;
    border: 1px solid #DADADA;
    cursor: pointer;
    list-style: none;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 300;
    color: #717171;
}
.work-tabs:hover {
    border: 2px solid #18CFAB;
    color: #18CFAB;
}
.work-img-section {
    display: grid;
    grid-template-columns: repeat(4, 291px);
    justify-content: center;
}
.work-photo {
    height: 206px;
    width: 293px;
}
.load-more {
    background-color: #18CFAB;
    border-radius: 3px;
    border: none;
    padding: 17px 25px ;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 10px;
    color: #fff;
}
.load-hidden-img {
    opacity: 0;
}
.load-btn-wrapper {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 90px;
}
.load-img {
    width: 12px;
    height: 12px;
    margin-right: 10px;
}
.graphic-photo1:hover .changes-hover-content {
    transform: translateY(-100%);
}
.graphic-photo1 {
    overflow: hidden;
    position: relative;
    height: 206px;
}
.changes-hover-content2 {
    border-top: 2px solid #18CFAB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E9EDEF;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateY(0);
}
.graphic-photo1:hover .changes-hover-content2 {
    transform: translateY(-100%);
}

.changes-hover-content {
    border-top: 2px solid #18CFAB;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E9EDEF;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateY(0);
}
.hover-img-text {
    text-transform: uppercase;
    color: #18CFAB;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 12px;
    padding: 24px 0 5px 0;
}
.hover-img-subtitle {
    color: #8A8A8A;
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 11px;
}
/*.hid {*/
/*    opacity: 0;*/
/*}*/
.hover-icon-wrapper {
    display: flex;
}
.second-icon {
    height: 35px;
    width: 35px;
    background-color: #18CFAB;
    border-radius: 50%;
    display: inline-block;
}
.rectangle {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 11px;
    text-align: center;
    background-color: #fff;
}
.second-icon-wrapper:hover .rectangle {
    background-color: #18CFAB;
}
.second-icon:hover {
    height: 35px;
    width: 35px;
    background-color: #FFF;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    display: inline-block;
}
.first-icon {
    height: 35px;
    width: 35px;
    background-color: #FFF;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    margin-right: 5px;
}

.shape-icon {
    margin: 9px;
}
/* </OUR AMAZING WORK> */

/* <BREAKING NEWS> */
.breaking-title {
    text-align: center;
    margin: 60px 0 70px 0;
    font-family: var(--main-font);
    font-weight: 400;
    color: #4E4E4E;
    font-size: 36px;
}
.breaking-title::after {
    content: '';
    display: block;
    height: 2px;
    width: 55px;
    box-shadow: 8px 3px #18CFAB;
    margin: 10px 0 0 550px;
    background-color: #18CFAB;
}
.breaking-photo-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 299px);
    grid-template-rows: repeat(2, 306px);
}
.break-img-inner {
    position: relative;
    cursor: pointer;
}
.break-img-inner:hover .breaking-img-subtitle {
    color: #18CFAB;
}
.break-img-inner:hover .img-data {
    background-color: #18CFAB;
}
.breaking-img {
    width: 263px;
    height: 208px;
}
.breaking-img-subtitle {
    display: inline-block;
    font-family: var(--main-font);
    font-size: 17px;
    font-weight: 700;
    color: #717171;
    margin: 3px 0 0 10px;
}
.breaking-img-description {
    color: #777777;
    font-size: 13px;
    font-weight: 300;
    font-family: var(--main-font);
    margin: 9px 0 0 10px;
}
.vertical-stick::after {
    content: "";
    padding: 0 0 0 0.5px;
    background-color: #777777;
    margin: 0 8px 0 4px;
}
.img-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60px;
    height: 60px;
    background-color: #203E38;
    position: absolute;
    right: 36px;
    top: 0;
    color: #fff;
    font-family: var(--main-font);
    font-size: 15px;
}
.img-data-num {
    margin-bottom: 5px;
}
/* </BREAKING NEWS> */

/* <WHAT PEOPLE SAY ABOUT US> */
.what-people-say {
    background-image: url("../img/people-say-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.people-title {
    color: #fff;
    font-family: var(--main-font);
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin: 60px 0 0 0;
    padding: 70px 0 0 0;
}
.quotes-wrapper {
    text-align: center;
}
.people-title::after {
    content: '';
    display: block;
    height: 2px;
    width: 55px;
    box-shadow: 8px 3px #18CFAB;
    margin: 14px 0 55px 550px;
    background-color: #18CFAB;
}
.people-img-quotes {
    width: 36px;
    height: 24px;
    margin-bottom: 20px;
}
.people-say-text {
    text-align: center;
    color: #BBBBBB;
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
}
.photo-carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.people-big-photo-wrapper {
    margin-right: auto;
    margin-left: 187px;
}
.people-big-photo {
    margin: 50px 0 40px 0;
    width: 141px;
    height: 141px;
    border: 8px solid rgba(24, 164, 135, 0.45);
    border-radius: 50%;
}
.carousel-inner {
    display: inline-block;
    margin-bottom: 65px;
}
.people-carousel-photo {
    width: 58px;
    height: 58px;
    margin-right: 15px;
    margin-left: 25px;
    border: 4px solid rgba(24, 164, 135, 0.37);
    border-radius: 50%;
}
.carousel-btn {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 1px solid #BBBBBB;
    vertical-align: top;
}
.carousel-btn:hover {
    background-color: #18CFAB;
    border: none;
}
i {
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin: 7px 17px 3px 6px;
}
.right {
    transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    margin-left: 9px;
}
.slider-container {
    width: 500px;
}
.swiper-slide-next {
    width: 30px;
}
    /* </WHAT PEOPLE SAY ABOUT US> */
.carousel-btn-right {
    position: absolute;
    right: 305px;
    top: 148px;
}
.swiper-button-next::after,
.swiper-button-prev::after,
.swiper-container-rtl .swiper-button-prev::after {
    content: "";
    display: none;
}
.carousel-btn-left {
    position: absolute;
    left: 292px;
    top: 150px;
}
.changed-content {
    text-align: center;
    color: #BBBBBB;
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
}
.slider-top {
    width: 780px;
    text-align: -webkit-center;
}
.changed-name {
    color: #18CFAB;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 18px 0 5px 0;
}
.changed-profession {
    color: #BBBBBB;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 200;
}
.footer {
    background-color: #22353F;
    width: 100%;
}
.footer-content {
    text-align: center;
    padding: 40px 0 40px 0;
    font-size: 12px;
    color: #AEAEAE;
}
.green-footer-text {
    color: #18CFAB;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}